.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(90px, auto);
    border: black solid 2px;
    border-radius: 5px;
    padding: 10px;
    width: 40vw;
}

.overlay {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    & > p {
        position: absolute;
        top: -25px;
    }
}

.center {
    height: 100vh;
    width: 100vw;
    text-align: center;
}
